{{!--
@Author: Colin Osterhout <ctosterhout>
@Date:   2016-06-23T14:16:12-08:00
@Email:  ctosterhout@alaska.edu
@Project: BERT
@Last modified by:   ctosterhout
@Last modified time: 2016-08-08T13:30:45-08:00
@License: Released under MIT License. Copyright 2016 University of Alaska Southeast.  For more details, see https://opensource.org/licenses/MIT
--}}

{{#each story}}
    <article>
        <h2><a href='#{{id}}' data-toggle='modal'>{{title}}</a></h2>
        <p>
            <span class="soundings-category">{{category}}</span>
            <time>{{date}}</time>
        </p>
        <p class="lead">{{description}}</p>
        {{#modal id title}}
            {{#if featured_image}}
                {{#thumbnail featured_image/path}}
                    {{featured_image/caption}}
                {{/thumbnail}}
            {{/if}}
            {{{content}}}
        {{/modal}}
    </article>
{{/each}}
